streamlit
langchain
langchain-community
langchain-core
langsmith
python-dotenv
ollama
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
groq
langchain-groq
beautifulsoup4
sentence_transformers